@model WebApplicationDemo.Models.Numbers

@{
    ViewData["Title"] = "Add3";
}

<h1>Add3</h1>
@{
    //if (ViewBag.result != null)
    //{
        
    //    <b> @ViewBag.result </b>
    //}
    //else
    //{

        @using (Html.BeginForm())
        {
            @Html.LabelFor(model=>model.Num1)
            ;
            @Html.TextBoxFor(model=>model.Num1)
            ;

            @Html.LabelFor(model=>model.Num2)
            ;
            @Html.TextBoxFor(model=>model.Num2)
            ;
            if(Model.Num3!=0)
            {

            @Html.LabelFor(model=>model.Num3)
            ;
            @Html.TextBoxFor(model=>model.Num3)
            ;}
            <button type="submit"> Add </button>
        }
    }
@*}*@

